.switchContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  
  cursor: pointer;
}

.switch {
  background-color: var(--input);

  border-radius: 1000px;
  width: 4rem;
  height: 2.33rem;
  padding-inline: 4px;

  display: flex;
  align-items: center;
}

.switchDot {
  background-color: var(--secondary);
  opacity: 0.5;

  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100px;

  margin-left: 0%;
  transition: all 200ms;
}

.checkbox {
  display: none;
}

.checkbox:checked + .switch .switchDot {
  margin-left: calc(100% - 1.75rem);
  background-color: var(--secondary);
  opacity: 1;
}

.label {
  user-select: none;
}
