.loadingSpinner {
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border: var(--borderSize) solid #e5e7eb;
  border-top: var(--borderSize) solid var(--secondary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
