.roomListRoot {
  padding: 2rem;
  width: 70%;
  height: 80dvh;
  max-height: 80dvh;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.rooms {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  overflow-y: scroll;
  padding: 0.5rem;
}

.rooms::-webkit-scrollbar {
  width: 10px;
}

.rooms::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: larger;
}

@media (max-width: 768px) {
  .roomListRoot {
    height: 100%;
    max-height: 100dvh;
    width: 100%;
    border-radius: 0px !important;
  }

  .rooms {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .roomListRoot {
    width: 500px;
  }

  .rooms {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* 1000px is 70% of 1428px  */
@media (min-width: 991px) and (max-width: 1428px) {
  .roomListRoot {
    width: 1000px;
  }

  .rooms {
    grid-template-columns: repeat(2, 1fr);
  }
}
