.chatRoot {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 110.8px;
  list-style: none;
  padding: 0px;
}

.chat::-webkit-scrollbar-track {
  /* secondary color */
  background-color: rgba(167, 138, 235, 0.25);
  border-radius: 10px;
}

.chat::-webkit-scrollbar {
  width: 10px;
}

.chat::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
}

.form {
  width: 100%;
}

.input {
  width: 100%;
}

@media (max-width: 768px) {
  .chat {
    max-height: calc(100dvh - (100vw * 9 / 16) - 48px - 44px - 70px);
  }
}
